body {
  background-color: lightgreen;
}

h1 {
  color: red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  color: yellow
}

header {
  background-color: greenyellow;
  font-size: 30px;
}